<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="/modules/css/layout.css" rel="stylesheet" />
    @RenderSection("css", false)
</head>
<body>
    @{
        string controller =  Url.RequestContext.RouteData.Values["controller"].ToString().ToUpper();
        string action = Url.RequestContext.RouteData.Values["action"].ToString().ToUpper();
    }
    <header>
        <div class="logo left"><img src="/modules/images/logo.gif" /></div>
        <div class="menu left">
            <ul>
                @*@foreach (ERP.Model.MenuEntity model in ExpandClass.GetChildMenuByCode(ExpandClass.MANAGE_TOP_CODE))
                { 
                    <li class="left topMenu" data-code="@(model.MenuCode)">
                        <a class="@Html.GetMenuSelect(HttpContext.Current,model.MenuCode,"select")" href="/Manage/ManageBase/TransCenter/@(model.MenuCode)"> @(model.MenuName)</a> 
                    </li>
                }*@
            </ul>
            
        </div>
    </header>
    <div class="topLine"></div>
    <div class="main-body">
        <nav>
            <div class="admin-name">
                <span class="bolder">Admin</span> 欢迎您！
            </div>
            <div class="top-nav">
                <img alt="首页" src="/modules/manage/images/ico-home.png"/>
                <span class="bolder"><a href="javascript:void(0);" >功能菜单</a></span>
            </div>
            <div class="nav-list">
                
                @*@foreach (ERP.Model.MenuEntity model in ExpandClass.GetControllers(HttpContext.Current))
                {
                    <div class="controller @(model.Controller.ToUpper()==controller ? "select" : "")">
                        <span class="ico-img"></span>
                        <span class="bolder menu-name">@(model.MenuName)</span>
                        <ul>
                            @foreach (ERP.Model.MenuEntity child in ExpandClass.GetChildMenuByCode(model.MenuCode))
                            {
                                <li class="action "><a class="@(child.Action.ToUpper()==action ? "select" : "")" href="/Manage/@(child.Controller + "/" + child.Action)" >@(child.MenuName)</a></li>
                            }
                        </ul>
                    </div>
                }*@
            </div>
            
        </nav>
        <div class="controlbar">
        </div>
        <div class="main-content">
            @RenderBody()
        </div>
        <div class="ico-left-pull" data-status="open">
        </div>
    </div>
    <script type="text/javascript" src="/Scripts/sea.js"></script>
    <script type="text/javascript" src="/Scripts/sea-config.js"></script>
    <script type="text/javascript">
        seajs.use(["scripts/layout"], function (layout) {
            layout.init();
        });
    </script>
    @RenderSection("scripts", false)
</body>
    
</html>
