<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="/modules/css/layout.css" rel="stylesheet" />
    @RenderSection("css", false)
</head>
<body>
    @{
        CloudSalesEntity.C_Users CurrentUser = (CloudSalesEntity.C_Users)Session["ClientManager"];
        string controller =  Url.RequestContext.RouteData.Values["controller"].ToString().ToUpper();
        string action = Url.RequestContext.RouteData.Values["action"].ToString().ToUpper();
    }
    <header>
        <div class="logo left"><img src="/modules/images/logo.png" /></div>
        <div class="menu left">
            <ul>
                @foreach (CloudSalesEntity.Menu model in ExpandClass.GetChildMenuByCode(HttpContext.Current, ExpandClass.MANAGE_TOP_CODE))
                { 
                    <li class="left topMenu" data-code="@(model.MenuCode)">
                        <a class="@Html.GetTopMenuActive(HttpContext.Current,model.MenuCode,"select")" href="/Base/TransCenter/@(model.MenuCode)"> @(model.Name)</a> 
                    </li>
                }
            </ul>
            
        </div>
        <div class="help right">
            <ul>
                <li class="left">
                    <a class="ico-logout" href="/Home/Logout">退出</a> 
                </li>
            </ul>
        </div>
    </header>
    <div class="main-body">
        <nav>
            <div class="admin-name">
                <span class="bolder long">@(string.IsNullOrEmpty(CurrentUser.Name)? CurrentUser.LoginName : CurrentUser.Name)</span> 欢迎您！
            </div>
            <div class="top-nav">
                <img alt="首页" src="/modules/images/ico-home.png"/>
                <span class="bolder"><a href="javascript:void(0);" >功能菜单</a></span>
            </div>
            <div class="nav-list">
                
                @foreach (CloudSalesEntity.Menu model in ExpandClass.GetControllers(HttpContext.Current))
                {
                    <div class="controller @(model.Controller.ToUpper()==controller ? "select" : "")">
                        <span class="ico-img"></span>
                        <span class="bolder menu-name">@(model.Name)</span>
                        <ul>
                            @foreach (CloudSalesEntity.Menu child in ExpandClass.GetChildMenuByCode(HttpContext.Current, model.MenuCode))
                            {
                                <li class="action "><a class="@(child.View.ToUpper()==action ? "select" : "")" href="/@(child.Controller + "/" + child.View)" >@(child.Name)</a></li>
                            }
                        </ul>
                    </div>
                }
            </div>
            
        </nav>
        <div class="main-content">
            @RenderBody()
        </div>
        <div class="ico-left-pull" data-status="open"></div>
    </div>
    <script type="text/javascript" src="/Scripts/sea.js"></script>
    <script type="text/javascript" src="/Scripts/sea-config.js"></script>
    <script type="text/javascript">
        seajs.use(["scripts/layout"], function (layout) {
            layout.init();
        });
    </script>
    @RenderSection("scripts", false)
</body>
    
</html>
