@{
    ViewBag.Title = "产品类别设置";
}
<link href="/modules/css/products/category.css" rel="stylesheet" />

@section scripts{
    <script type="text/javascript">
        seajs.use(["scripts/products/category"], function (category) {
            category.init();
        });
    </script>
}
<div class="header-box">
    <span class="header-title left">产品类别设置</span>
    @*<div class="right searth-module"></div>*@
</div>
<div class="content-body">
    <div id="category-all" class="category-all">
    <div class="category-layer">
        <div class="category-header">全部分类 <a href="javascript:void(0);" data-id="" data-layer="1" class="ico-add right mTop3">添加分类</a></div>
        <ul class="category-list">
            @foreach (CloudSalesEntity.C_Category model in (List<CloudSalesEntity.C_Category>)ViewBag.Items)
            { 
                <li data-id="@(model.CategoryID)" title="@(model.Description)" data-layer="@(model.Layers)">
                    <span class="category-name long @(model.Status.Value==1?"":"colorccc")">@(model.CategoryName)</span>
                    <span class="edit right">></span>
                </li>
            }
        </ul>
    </div>
    </div>
    <div class="attr-value-box" id="attrValueBox">
        <div class="title">
            <span class="header-title">颜色</span>
            <div class="add-value"><input class="value-name" type="text" id="valueName" placeholder="添加属性值" maxlength="20" /><span class="ico-input-add"></span></div>
        </div>
        
        <ul id="attrValues">
            
        </ul>
    </div>
</div>
