@{
    var model = (CloudSalesEntity.C_Products)ViewBag.Model;
    ViewBag.Title = model.ProductName;
}
@section css{
   <link rel="stylesheet" href="/modules/css/products/filterdetails.css" />
    <link href="/modules/plug/umeditor/themes/default/css/umeditor.min.css" rel="stylesheet" />
}

@section scripts{
    <script type="text/javascript">
        seajs.use(["scripts/products/filterdetails"], function (obj) {
            obj.init('@Html.ToJSONString(model)', '@ViewBag.DetailID', '@ViewBag.OrderType');
        });
    </script>
}
<div class="header-box">
    <span class="header-title left">产品详情页</span>
</div>
<div class="content-body">
    <div class="top-div">
        <div class="image left">
            <img id="productimg" src="@(model.ProductImage)" />
        </div>
        <div class="product-name left">
            <h1>@(model.ProductName)</h1>

            <ul class="price">
                <li class="column">促&nbsp;&nbsp;销&nbsp;&nbsp;价：</li>
                <li id="price" class="salesprice">￥@(model.Price.ToString("f2"))</li>
                <li class="commonprice">￥@(model.CommonPrice.Value.ToString("f2"))</li>
            </ul>
            <div class="attrs" id="saleattr">
                @foreach (var attr in model.SaleAttrs)
                { 
                    <ul class="attr-item" data-id="@attr.AttrID">
                        <li class="attrkey">@attr.AttrName：</li>
                        <li class="attrValues">
                            <ul class="salesattr">
                                @foreach (var value in attr.AttrValues)
                                { 
                                    <li class="value" data-id="@value.ValueID">@value.ValueName</li>
                                }
                            </ul>
                        </li>
                    </ul>
                }
                <ul class="attr-item">
                    <li class="attrkey">单位：</li>
                    <li class="attrValues">
                        <ul id="unit">
                            <li class="value" data-id="@(model.SmallUnit.UnitID)">@(model.SmallUnit.UnitName)</li>
                            @if (model.SmallUnitID != model.BigUnitID)
                            {
                                <li class="value" data-id="@(model.BigUnit.UnitID)">@(model.BigUnit.UnitName)</li>
                            }
                        </ul>
                    </li>
                </ul>
           </div>
            <div class="choose-div">
                <div class="choose-quantity left">
                    <input type="text" value="1" id="quantity" />
                    <span class="quantity-add" id="quantityadd">+</span>
                    <span class="quantity-reduce" id="quantityreduce">-</span>
                </div>
                <div class="left mLeft10">
                    <input type="button" class="addcart" id="addcart" value="加入购物车" />
                </div>
            </div>
        </div>
    </div>
    <div class="show-nav">
        <ul class="show-nav-ul">
            <li class="hover">产品介绍</li>
        </ul>
    </div>
    
    <ul class="product-attr">
        <li class="long">产品名称：@(model.ProductName)</li>
        <li class="long">产品编码：@(model.ProductCode)</li>
        <li class="long">产品毛重：@(model.Weight.Value.ToString("f2"))g</li>
        <li class="long">上架时间：@(model.OnlineTime.ToString("yyyy-MM-dd HH:mm:ss"))</li>
        @foreach (var attr in model.AttrLists)
        { 
            <li class="long">@attr.AttrName：@attr.AttrValues[0].ValueName</li>
         }
        
    </ul>
    <div class="edui-container">
        <div class="edui-editor-body">
            <div class="description  edui-body-container" id="description">

             </div>
        </div>
    </div>
    
</div>
