@{
    var model = (CloudSalesEntity.C_Products)ViewBag.Model;
    ViewBag.Title = model.ProductName;
}
@section css{
   <link rel="stylesheet" href="/modules/css/products/filterdetails.css" />
    <link href="/modules/plug/umeditor/themes/default/css/umeditor.min.css" rel="stylesheet" />
}

@section scripts{
    <script type="text/javascript">
        seajs.use(["scripts/products/filterdetails"], function (obj) {
            obj.init('@Html.ToJSONString(model)');
        });
    </script>
}
<div class="header-box">
    <span class="header-title left">产品详情页</span>
</div>
<div class="content-body">
    <div class="top-div">
        <div class="image left">
            <img src="@(model.ProductImage)" />
        </div>
        <div class="product-name left">
            <h1>@(model.ProductName)</h1>

            <ul class="price">
                <li class="column">促&nbsp;&nbsp;销&nbsp;&nbsp;价：</li>
                <li class="salesprice">￥@(model.Price.ToString("f2"))</li>
                <li class="commonprice">￥@(model.CommonPrice.Value.ToString("f2"))</li>
            </ul>
            @foreach (var attr in model.SaleAttrs)
            { 
                <ul class="attr-item" data-id="@attr.AttrID">
                    <li class="attrkey">@attr.AttrName：</li>
                    <li class="attrValues">
                        <ul>
                            @foreach (var value in attr.AttrValues)
                            { 
                                <li class="value" data-id="@value.ValueID">@value.ValueName</li>
                            }
                        </ul>
                    </li>
                </ul>
            }

        </div>
    </div>
    <div class="product-attr">

    </div>
    <div class="edui-container">
        <div class="edui-editor-body">
            <div class="description  edui-body-container" id="description">

             </div>
        </div>
    </div>
    
</div>
