@{
    ViewBag.Title = "添加新品";
    var model = (CloudSalesEntity.C_Category)ViewBag.Model;
}
<link href="/modules/css/products/product.css" rel="stylesheet" />
<link href="/modules/plug/umeditor/themes/default/css/umeditor.min.css" rel="stylesheet" />
@section scripts{
    <script src="/Scripts/jquery-1.11.1.js"></script>
    <script src="/modules/plug/umeditor/umeditor.config.js"></script>
    <script src="/modules/plug/umeditor/umeditor.min.js"></script>
    <script type="text/javascript">
        seajs.use(["scripts/products/product"], function (product) {
            var um = UM.getEditor('remark');
            product.init(um);
        });
    </script>
}

<div class="header-box">
    <span class="header-title left">添加新品 >> @(model.CategoryName)</span>
    <a class="ico-back left mLeft5" title="返回" href="/Products/ProductAdd"></a>
    <input type="hidden" id="categoryID" value="@(model.CategoryID)" />
</div>
<div class="content-body">
    <ul class="table-add product-add">
        <li>
            <span class="column-name">产品名称：</span><input type="text" maxlength="50" id="productName" data-empty="* 必填" class="input verify" />
        </li>
        <li>
            <span class="column-name">产品编码：</span><input type="text" placeholder="保存后不能变更!" maxlength="50" id="productCode" data-empty="* 必填" class="input verify" />
        </li>
        <li>
            <span class="column-name">常用名：</span><input type="text" maxlength="50" id="generalName" class="input" />
        </li>
        <li>
            <span class="column-name">条形码：</span><input type="text" maxlength="50" id="shapeCode" class="input" />
        </li>
        <li>
            <span class="column-name">品牌：</span>
            <select id="brand">
            @foreach (CloudSalesEntity.C_Brand brand in (List<CloudSalesEntity.C_Brand>)ViewBag.BrandList)
            {
                <option value="@brand.BrandID">@brand.Name</option> 
            }
            </select>
        </li>
        
        @foreach (CloudSalesEntity.C_ProductAttr attr in model.AttrLists)
        {
            <li data-id="@attr.AttrID" class="productattr">
                <span class="column-name">@attr.AttrName：</span>
                <select>
                    @foreach (CloudSalesEntity.C_AttrValue value in attr.AttrValues)
                    {
                        <option value="@value.ValueID">@value.ValueName</option> 
                    }
                </select>
            </li>
        }
        <li>
            <span class="column-name">小单位：</span>

            <select id="smallUnit">
            @foreach (CloudSalesEntity.C_ProductUnit unit in (List<CloudSalesEntity.C_ProductUnit>)ViewBag.UnitList)
            {
                <option value="@unit.UnitID">@unit.UnitName</option> 
            }
            </select>
        </li>
        <li>
            <span class="column-name">大单位：</span>
           
            <select id="bigUnit">
            @foreach (CloudSalesEntity.C_ProductUnit unit in (List<CloudSalesEntity.C_ProductUnit>)ViewBag.UnitList)
            {
                <option value="@unit.UnitID">@unit.UnitName</option> 
            }
            </select>
        </li>

        <li>
             <span class="column-name">大小单位比：</span>
            <input type="text" maxlength="3" id="bigSmallMultiple" value="1" data-empty="*" data-type="int"  class="input verify width30" />
        </li>
        <li>
            <span class="column-name">正常价：</span><input type="text" maxlength="10" data-empty="*" data-type="double" data-text="请输入数字!"  id="commonprice" class="input verify width80" />
        </li>
        <li>
            <span class="column-name">优惠价：</span><input type="text" maxlength="10" data-empty="*" data-type="double" data-text="请输入数字!"  id="price" class="input verify width80" />
        </li>
        <li>
            <span class="column-name">缩略图：</span><span id="productIco"></span>
        </li>
        <li>
            <span class="column-name">重量(kg)：</span><input type="text" maxlength="10" value="0" data-empty="*" data-type="double" data-text="请输入数字!" id="weight" class="input verify width50" />
        </li>
        <li>
            <span class="column-name">有效期（天）：</span><input type="text" maxlength="10" value="0" data-empty="*" data-type="int" data-text="请输入数字!" id="effectiveDays" class="input verify width50" />
        </li>
        <li>
            <span class="column-name">是否上架：</span><label><input type="checkbox" checked="checked" id="status" />是</label> 
        </li>
        <li>
            <span class="column-name">是否新品：</span><label><input type="checkbox" id="isNew" />是</label> 
        </li>
        <li>
            <span class="column-name">是否推荐：</span><label><input type="checkbox" id="isRecommend" />是</label> 
        </li>
        <li>
            <span class="column-name">产品说明：</span><div id="remark"></div>
        </li>

    </ul>
    <img class="product-img" id="productImg" alt="" src="/modules/images/default.png" />
    <div class="mTop20">
        <input type="button" class="btn" id="btnSaveProduct" value="保存" />
    </div>
</div>
