@{
    ViewBag.Title = "仓库类别设置";
}
@section css{
    <link rel="stylesheet" href="/modules/css/warehouse/warehouse.css" />
}
@section scripts{
    <script type="text/javascript">
        seajs.use(["scripts/warehouse/warehousetype"], function (obj) {
            obj.init();
        });
    </script>
}
<div class="header-box">
    <span class="header-title left">仓库类别设置</span>
    <a href="javascript:void(0)" id="addType" class="ico-add left mTop4 mLeft20">添加库别</a>
    <div class="right searth-module"> </div>
    
</div>
<div class="content-body">
    <ul class="obj-list">
        @foreach (var item in (List<CloudSalesEntity.WareHouseType>)ViewBag.Items)
        {
            <li class="obj-item" ><label data-id="@(item.TypeID)" data-value="@(item.TypeName)" title="@(item.Description)">@(item.TypeName)</label><span data-id="@(item.TypeID)" class="ico-delete"></span></li>
        }
    </ul>
    
</div>
